* {
    margin: 0 auto;
    padding: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
}

a {
    text-decoration: none;
    color: #333;
}

ul {
    list-style: none;
}

.hide {
	display: none !important;
}

.header {
    background: #fff;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.header__container {
    display: flex;
}

.header {
    padding: 20px 0;
	width: 100%;

	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;

	background-color: #fff;

	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}

.header__logo {
    width: 245px;
    height: 65px;
}

.logo {
    content: url('/assets/icons/maybe.png');
}

.header__nav {
    display: flex;
	flex-wrap: wrap;
    padding-top: 25px;
}

.default__nav {
    display: flex;

    font-size: 18px;

    padding: 0 60px;

    color: #616161;
}

.default__nav li + li {
    margin-left: 35px;
}

.user__nav {
    display: flex;
    font-size: 18px;

    padding: 0 30px;
}

.user__nav .nav_auth_link {
    color: #267FC7;

    transition: color .3s;
}

.user__nav .nav_reg_link {
    background: #267FC7;
    padding: 8px 12px;
    border-radius: 8px;
    color: #fff;

    transition: background .3s;
    transition: color .3s;
}

.user__nav .nav_exit_link {
	background: #d11144;
    padding: 8px 12px;
    border-radius: 8px;
    color: #fff;

    transition: .3s;
}

.user__nav .nav_exit_link:hover {
	background: #fff;
	color: #d11144;
}

.user__nav li + li {
    margin-left: 25px;
}

.user__nav .nav_auth_link:hover {
    color: #616161;
}

.user__nav .nav_reg_link:hover {
    background: #fff;
}

.user__nav .nav_reg_link:hover {
    color: #267FC7;
}

.nav__link {
    color: #616161;
    transition: color .3s;
}

.nav__link:hover {
    color: #267FC7;
}

.intro {
	min-height: 600px;
	height: 100vh;

	/* padding: 195px 0; */

	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;

	color: #fff;

	background-color: #333;
	background-image: url("/assets/images/back.jpg");
	background-size: cover;
	background-position: center;

	margin-bottom: 50px;
}

.intro__heading {
	margin-bottom: 30px;

	font-size: 55px;
	line-height: 1;

	letter-spacing: 4px;
	text-transform: uppercase;

}

.intro__subtitle {
    margin-bottom: 75px;

	font-size: 18px;
	line-height: 1;

	letter-spacing: 4px;
	text-transform: uppercase;
}

.intro__links {
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    width: 50%;
    padding: 75px 0;
    border-radius: 10px;
}

.intro__links > * + * { /* У каждого элемента, у которого есть есть сосед слева - задаются эти свойства: */
	margin-left: 20px;
}

.link-primary {
	padding: 10px 30px;

	font-size: 16px;
	letter-spacing: 2px;
	text-transform: uppercase;

	background-color: #69b9ff;
	border: 1px solid #69b9ff;
	border-radius: 4px;

	transition:	background-color 0.3s;
}

.link-primary:hover {
	background-color: #267FC7;
}

.link-primary:active {
	background-color: #0f8fff;
}

.link {
	display: inline-block;

	font-size: 16px;

	letter-spacing: 2px;
	text-transform: uppercase;

	border: 1px solid #fff;
	border-radius: 4px;
	padding: 10px 30px;

	transition:	background-color 0.3s;
}

.link:hover {
	background-color: rgba(255, 255, 255, 0.2);
	border-color: rgba(255, 255, 255, 0.5);
}

.link:active {
	background-color: rgba(0, 0, 0, 0.2);
	background-color: rgba(0, 0, 0, 0.5);
}

.rates {
	margin-bottom: 80px;
}

.rates__block {
	width: 100%;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.main__title {
	padding: 20px;
	text-align: center;

	font-weight: 500;
	font-size: 36px;
	color: #333;

	text-transform: uppercase;
	letter-spacing: 2px;

	margin-bottom: 50px;
}

.rate__card {
	width: 27%;
	max-height: 500px;
	align-items: center;
	text-align: center;

	box-shadow: 2px 0px 8px rgba(38, 127, 199, 0.7);
	border-radius: 10px;

	padding: 0px 10px;
}

.rate_img {
	padding: 20px 0px;
	margin-bottom: 10px;
}

.rate_title {
	margin: 0 auto;
	font-size: 19px;
	margin-bottom: 5px;
	color: #267FC7;
	font-weight: 700;
	letter-spacing: 2px;

	text-transform: uppercase;
}

.rate_subtitle {
	margin-bottom: 30px;
	padding: 12px 0px;

	color: #267FC7;
	font-style: italic;
	letter-spacing: 1px;
}

.rate_desc {
	text-align: left;
	width: 90%;
	padding: 20px 10px;

	border-top: 2px solid #bababa;
	border-bottom: 2px solid #bababa;
	border-radius: 10px;

	color: #616161;
	font-size: 18px;

	margin-bottom: 45px;
}

.rate_desc li {
	margin-bottom: 7px;
}

.cond__icon {
	width: 19px;
	height: 19px;
}

.rate__card .rate_link {
	background: #fff;
	border-radius: 8px;

	letter-spacing: 1px;
	text-transform: uppercase;

	box-shadow: 2px 0px 8px rgba(38, 127, 199, 0.7);

	font-size: 25px;
	padding: 6px 8px;

	transition: background .3s;
	color: #267FC7;

	transition: color .3s;
}

.rate__card .rate_link:hover {
	background: #267FC7;
	color: #fff;
}

.about {
	margin-bottom: 80px;
}

.about__block {
	width: 100%;
	display: flex;
}

.about__card {
	width: 45%;
	padding: 10px;

	text-align: center;
}

.about_img {
	margin-bottom: 10px;
}

.about_title {
	font-size: 24px;
	color: #333;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-weight: 700;

	padding: 25px 20px;
}

.about_subtitle {
	font-size: 14px;
	color: #616161;
	letter-spacing: 2px;
	text-transform: uppercase;
	padding: 10px;
}

.geolocation {
	background: #267FC7;
	padding: 80px 0px;

	margin-bottom: 80px;

}

.special__title {
	color: #fff;
	margin-bottom: 60px;
}

.geolocation__block {
	width: 100%;
	display: flex;
}

.geolocation_text {
	width: 40%;
	padding: 15px 0;
}

.geolocation_card {
	width: 50%;
	padding: 15px 0;
}

.geolocation_card iframe {
	border-radius: 12px;
	width: 100%;
}

.geolocation_title {
	color: #fff;
	font-weight: 500;
	font-size: 35px;
	font-weight: 700;
	text-align: center;
	letter-spacing: 2px;

	margin-bottom: 80px;
}

.geolocation_text form {
	width: 70%;
	text-align: center;
}

.geolocation_text select {
	width: 100%;

	background: #fff;
	color: #267FC7;

	padding: 15px;

	border-radius: 12px;

	margin-bottom: 30px;
}

.geolocation_text option {
	font-size: 16px;
}

.geo_link {
	padding: 10px 60px;
	border-radius: 12px;
	background: transparent;
	color: #fff;
	font-size: 20px;

	transition: background .3s;
	transition: color .3s;
}

.geo_link:hover {
	color: #267FC7;
	background: #fff;
}

.footer__desc {
	padding: 35px 0;
}

.footer__desc-container {
	display: flex;
	justify-content: space-evenly;
	align-items: flex-start;
	flex-wrap: wrap;
	gap: 20px 40px;
}

.footer__desc-container > * {
	width: 30%;
	min-width: 220px;
}

.footer__desc h4 {
	margin-bottom: 25px;

	font-size: 18px;
	line-height: 1;

	letter-spacing: 4px;
	text-transform: uppercase;

	color: #676770;
}

.footer__desc a {
	font-size: 13px;
	color: #668cad;

}

.footer__desc li {
	height: 30px;
	position: relative;
}

.footer__desc li + li {
	margin-top: 6px;
}
	
.footer__desc li::before {	/* Псевдоэлемент */
	content: "";
	width: 100%;
	height: 1px;

	position: absolute;
	right: 0;
	bottom: 0;

	background-color: #d5d5e0;
}

.footer__social li::before {
	width: calc(100% - 34px);
}

.footer__social img {
	margin-right: 10px;
}

.footer__social img {
	width: 22px;
	height: 22px;
	object-fit: contain;
}

.footer__copy {
	padding: 40px 0;

	text-align: center;

	background: #383838;
}

.footer__copy p {
	color: #9e9e9e;
}

@media (max-width: 950px) {
	.rate_desc {
		margin-bottom: 30px;
	}
}

@media (max-width: 935px) {
	.rates__block {
		display: block;
		flex-wrap: wrap;
	}

	.rate__card {
		width: 80%;

		margin-bottom: 50px;
	}

	.header__logo {
		width: 60px;
		height: 60px;
	}

	.default__nav {
		font-size: 16px;
	}

	.user__nav {
		font-size: 16px;
	}

	.logo {
		content: url('/assets/icons/logo.png');
	}
}

@media (max-width: 580px) {
	.intro {
		margin-top: 50px;
	}

	.geolocation__block {
		display: block;
	}

	.geolocation_text {
		width: 90%;
	}

	.geolocation_card {
		width: 90%;
	}
}

@media (max-width: 821px) {
	.default__nav {
		font-size: 16px;
		padding: 0 20px;
	}

	.user__nav {
		font-size: 16px;
		padding: 0 20px;
	}

	.default__nav li + li {
		margin-left: 20px;
	}

	.user__nav li + li {
		margin-left: 20px;
	}
}

@media(max-width: 541px) {
	.link-primary {
		display: block;
	}

	.header__nav {
		padding-top: 10px;
	}

	.user__nav {
		margin-top: 20px;
	}

	.header__logo {
		width: 125px;
		height: 65px;
	}

	.default__nav {
		font-size: 18px;
		padding: 0 30px;
	}

	.user__nav {
		font-size: 18px;
		padding: 0 30px;
	}

	.default__nav li + li {
		margin-left: 30px;
	}

	.user__nav li + li {
		margin-left: 30px;
	}
	
}

@media (max-width: 520px) {
	.user__nav {
		margin-top: 20px;
	}

	.header__logo {
		width: 125px;
		height: 65px;
	}

	.default__nav {
		font-size: 18px;
		padding: 0 30px;
	}

	.user__nav {
		font-size: 18px;
		padding: 0 30px;
	}

	.default__nav li + li {
		margin-left: 30px;
	}

	.user__nav li + li {
		margin-left: 30px;
	}

	.about__block {
		display: block;
	}

	.about__card {
		width: 90%;
	}

	.rate__card {
		width: 90%;
	}
}

@media (max-width: 431px) {
	.default__nav {
		font-size: 17px;
		padding: 0 25px;
	}

	.user__nav {
		font-size: 17px;
		padding: 0 25px;
	}

	.default__nav li + li {
		margin-left: 25px;
	}

	.user__nav li + li {
		margin-left: 25px;
	}

	.header__logo {
		display: none;
	}
}

@media (max-width: 400px) {
	.header__logo {
		display: none;
	}

	.default__nav {
		font-size: 18px;
		padding: 0 15px;
	}

	.user__nav {
		font-size: 18px;
		padding: 0 15px;
	}

	.default__nav li + li {
		margin-left: 35px;
	}

	.user__nav li + li {
		margin-left: 35px;
	}

	.intro {
		margin-top: 100px;
	}
}

@media (max-width: 1050px) {
	.link-primary {
		font-size: 15px;
	}
	.link {
		font-size: 15px;

		margin-left: 0;
		margin-top: 50px;
	}

	.intro__heading {
		font-size: 45px;
	}

	.intro__subtitle {
		font-size: 20px;
	}

	.header__logo {
		width: 60px;
		height: 60px;
	}

	.default__nav {
		font-size: 16px;
	}

	.user__nav {
		font-size: 16px;
	}

	.logo {
		content: url('/assets/icons/logo.png');
	}
	
}